@model TrashCollector.Models.Customer
@{
    ViewData["Title"] = "Schedule";
}

<h1>Your Pickup Schedule</h1>

<p>
    <a asp-action="Index">Home Page</a> |   
    <a asp-action="SchedulePickUp">Schedule an Extra Pickup</a> |
    <a asp-action="ScheduleHold">Schedule a Hold</a>



</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayofWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayofWeek)
        </dd>
       
        
        
    </dl>
</div>
