@model TrashCollector.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PickedUp" /> @Html.DisplayNameFor(model => model.PickedUp)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="holdStart" class="control-label"></label>
                <input asp-for="holdStart" class="form-control" />
                <span asp-validation-for="holdStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="holdEnd" class="control-label"></label>
                <input asp-for="holdEnd" class="form-control" />
                <span asp-validation-for="holdEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerZipCode" class="control-label"></label>
                <input asp-for="CustomerZipCode" class="form-control" />
                <span asp-validation-for="CustomerZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayId" class="control-label"></label>
                <select asp-for="DayId" class="form-control" asp-items="ViewBag.DayId"></select>
                <span asp-validation-for="DayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayName" class="control-label"></label>
                <input asp-for="DayName" class="form-control" />
                <span asp-validation-for="DayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

